
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Page</title>
</head>
<body>
    <h2>Brand name: @ViewBag.BrandName</h2>
    <h2>Product name: @ViewBag.ProductName</h2>
    <h2>Product Id: @ViewBag.ProductId</h2>
    <h2>Colour: @ViewBag.ProductColour</h2>
</body>
</html>
